api/public/1684311404320-definition.json
{"name":"15fcf1dd-3f3a-4a83-89bf-154ad00b22a5","id":"/providers/Microsoft.Flow/flows/15fcf1dd-3f3a-4a83-89bf-154ad00b22a5","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Published Engineering Supplier Documents: Reviews","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"9f1d4228-ba96-4277-a399-3ba5cb34626f","type":"User","tenantId":"84be9716-3015-4f0a-bda6-6715808262ff"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2023-02-14T10:01:24.6524205Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"splitOn":"@triggerBody()['rows']","metadata":{"operationMetadataId":"191140fc-5678-451a-8ba1-7620488f62ce"},"type":"Request","kind":"ApiConnection","inputs":{"schema":{"type":"object","properties":{"rows":{"type":"array","items":{"type":"object","properties":{"boolean":{"title":"For Info Only","type":"boolean","x-ms-dynamically-added":true,"description":"Please select yes or no","x-ms-content-hint":"BOOLEAN"},"email":{"title":"Info Email Adress","type":"string","format":"email","x-ms-dynamically-added":true,"description":"Please enter an e-mail address","x-ms-content-hint":"EMAIL"},"email_1":{"title":"Responsible Engineer","type":"string","format":"email","x-ms-dynamically-added":true,"description":"Please enter an e-mail address","x-ms-content-hint":"EMAIL"},"email_2":{"title":"Reviewer","type":"string","format":"email","x-ms-dynamically-added":true,"description":"Please enter an e-mail address","x-ms-content-hint":"EMAIL"},"text":{"title":"Description","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"},"date":{"title":"Due Date","type":"string","format":"date","x-ms-dynamically-added":true,"description":"Please enter or select a date (YYYY-MM-DD)","x-ms-content-hint":"DATE"},"boolean_1":{"title":"Requires Manager Approval","type":"boolean","x-ms-dynamically-added":true,"description":"Please select yes or no","x-ms-content-hint":"BOOLEAN"},"email_3":{"title":"Manager","type":"string","format":"email","x-ms-dynamically-added":true,"description":"Please enter an e-mail address","x-ms-content-hint":"EMAIL"},"boolean_2":{"title":"Approval Only","type":"boolean","x-ms-dynamically-added":true,"description":"Please select yes or no","x-ms-content-hint":"BOOLEAN"},"entity":{"type":"object","properties":{"fileName":{"title":"fileName","type":"string"},"ID":{"title":"ID","type":"integer","format":"int64"}},"required":["fileName","ID"]}},"required":["boolean","boolean_1","boolean_2","entity"]}}},"required":["rows"]},"host":{"connection":{"name":"@parameters('$connections')['shared_sharepointonline']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-001-northeurope-01.azure-apim.net/apim/sharepointonline"}},"operationId":"ForASelectedFileHybridTrigger","parameters":{"dataset":"https://sericaenergy.sharepoint.com/sites/SuppPub","table":"8f573e1d-f308-4916-9859-21c85f4ae8ed"},"headersSchema":{"x-ms-user-name-encoded":{"title":"User name","type":"string","format":"byte","x-ms-dynamically-added":false}}}}},"actions":{"Condition":{"actions":{"Scope_-_Information_Only":{"actions":{"Set_variable_9":{"runAfter":{},"metadata":{"operationMetadataId":"469c7b25-4393-4ebb-85c1-29aac728e561"},"type":"SetVariable","inputs":{"name":"Manager Text","value":"@triggerBody()?['text']"}},"Send_an_email_(V2)":{"runAfter":{"Set_variable_9":["Succeeded"]},"metadata":{"operationMetadataId":"4afedb3c-d3f6-4f9c-a321-2c2499f39158"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@triggerBody()['email']","emailMessage/Subject":"Supplier Document FOR INFO Only: @{outputs('Get_file_properties')?['body/Title']} - @{outputs('Get_file_properties')?['body/EIHDocNum']}","emailMessage/Body":"<p>Please find attached the following document for information:<br>\n<br>\nDocument Number: @{outputs('Get_file_properties')?['body/EIHDocNum']}<br>\nTitle: @{outputs('Get_file_properties')?['body/Title']}<br>\nRevision Code: @{outputs('Get_file_properties')?['body/EIHRevision_Code']}<br>\n<br>\nWith the following notes:<br>\n<br>\n@{variables('Manager Text')}<br>\n<br>\nYou are not required to comment, accept or approve the above document. If you wish further information on the document please contact:<br>\n<br>\n@{triggerOutputs()['headers']['x-ms-user-email']}<br>\n<br>\n<a href=\"https://sericaenergy.sharepoint.com/:b:/r/sites/IS/Shared%20Documents/Engineering%20Document%20Review%20End%20User%20Guide.pdf?csf=1&amp;web=1&amp;e=3c9JHb\">Not sure what this is? Click here for more information on Serica's engineering document review process.</a></p>","emailMessage/Attachments":[{"Name":"@triggerBody()?['entity']?['fileName']","ContentBytes":"@outputs('Get_file_content')?['body']"}]},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"metadata":{"operationMetadataId":"fd5a3a26-6358-4ee7-a6d6-5dca73faf848"},"type":"Scope"}},"runAfter":{"Initialize_variable_-_Folder_Name":["Succeeded"]},"else":{"actions":{"Scope_-_Set_Up_Folder":{"actions":{"Create_new_folder":{"runAfter":{},"metadata":{"operationMetadataId":"bf345d56-66eb-4770-bd26-05745a9be146"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateNewFolder"},"parameters":{"dataset":"https://sericaenergy.sharepoint.com/sites/EIHReview","table":"5d3b91d3-cddb-4a06-962e-e7d5e87679a6","parameters/path":"@variables('FolderName')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Condition_4":{"actions":{"Update_Folder_properties_2":{"runAfter":{},"metadata":{"operationMetadataId":"e5393181-5ae5-4d3a-b37e-49f52129f314"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://sericaenergy.sharepoint.com/sites/EIHReview","table":"5d3b91d3-cddb-4a06-962e-e7d5e87679a6","id":"@outputs('Create_new_folder')?['body/ID']","item/Title":"@variables('FolderName')","item/Status/Value":"New","item/DocumentNumber":"@outputs('Get_file_properties')?['body/EIHDocNum']","item/DueDate":"@triggerBody()['date']","item/Revision":"@outputs('Get_file_properties')?['body/EIHRevision_Code']","item/Comments":"@variables('InputComments')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Grant_access_to_an_item_or_a_folder_4":{"runAfter":{"Update_Folder_properties_2":["Succeeded"]},"metadata":{"operationMetadataId":"5a26a70f-8954-46b1-9cb3-30992384edd3"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GrantAccess"},"parameters":{"dataset":"https://sericaenergy.sharepoint.com/sites/EIHReview","table":"5d3b91d3-cddb-4a06-962e-e7d5e87679a6","id":"@outputs('Update_Folder_properties_2')?['body/ID']","parameter/recipients":"@triggerBody()?['email_3']","parameter/roleValue":"role:1073741827"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_file_3":{"runAfter":{"Condition_8":["Succeeded"]},"metadata":{"operationMetadataId":"dd2b830b-def7-418e-92ca-6ec532f3ac96"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://sericaenergy.sharepoint.com/sites/EIHReview","folderPath":"/Shared Documents/@{variables('FolderName')}","name":"@triggerBody()?['entity']?['fileName']","body":"@body('Get_file_content')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Update_file_properties_9":{"runAfter":{"Create_file_3":["Succeeded"]},"metadata":{"operationMetadataId":"700da362-c6bb-4b94-a92c-da4ec8065038"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://sericaenergy.sharepoint.com/sites/EIHReview","table":"5d3b91d3-cddb-4a06-962e-e7d5e87679a6","id":"@outputs('Create_file_3')?['body/ItemId']","item/Title":"@outputs('Update_Folder_properties_2')?['body/Title']","item/Status/Value":"Manager Review","item/DocumentNumber":"@outputs('Get_file_properties')?['body/EIHDocNum']","item/DueDate":"@outputs('Update_Folder_properties_2')?['body/DueDate']","item/Revision":"@outputs('Get_file_properties')?['body/EIHRevision_Code']","item/Comments":"@variables('InputComments')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Set_variable_7":{"runAfter":{"Update_file_properties_9":["Succeeded"]},"metadata":{"operationMetadataId":"ddbc8061-425a-45bc-af98-b01c4d0de891"},"type":"SetVariable","inputs":{"name":"Approved","value":"@true"}},"Set_variable_8":{"runAfter":{"Set_variable_7":["Succeeded"]},"metadata":{"operationMetadataId":"80d6b869-c073-429a-9ef7-4087867d8d99"},"type":"SetVariable","inputs":{"name":"Manager Text","value":"The following file has been marked for Manager Approval.\nPlease choose Approve  or Reject as appropriate\n\n"}},"Condition_8":{"actions":{"Grant_access_to_an_item_or_a_folder_2":{"runAfter":{},"metadata":{"operationMetadataId":"e3276d2e-3d61-401e-ac0a-69b221f4290b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GrantAccess"},"parameters":{"dataset":"https://sericaenergy.sharepoint.com/sites/EIHReview","table":"5d3b91d3-cddb-4a06-962e-e7d5e87679a6","id":"@outputs('Create_new_folder')?['body/ID']","parameter/recipients":"@variables('Info Only Email')","parameter/roleValue":"role:1073741827"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Send_an_email_(V2)_4":{"runAfter":{"Grant_access_to_an_item_or_a_folder_2":["Succeeded"]},"metadata":{"operationMetadataId":"07f7470b-e68f-4141-a0df-2549edb2c4f2"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@variables('Info Only Email')","emailMessage/Subject":"Document FOR INFO Only: - @{outputs('Get_file_properties')?['body/Title']} - @{outputs('Get_file_properties')?['body/EIHDocNum']}","emailMessage/Body":"<p>Please find attached the following document for your information:<br>\n<br>\nDocument Number: @{outputs('Get_file_properties')?['body/EIHDocNum']}<br>\nTitle: @{outputs('Get_file_properties')?['body/Title']}<br>\nRevision Code: @{outputs('Get_file_properties')?['body/EIHRevision_Code']}<br>\n<br>\nWith the following notes:<br>\n<br>\n@{triggerBody()?['text']}<br>\n<br>\nYou are not required to comment, accept or approve the above document.<br>\nIf you have comments on the document please contact:<br>\n<br>\n@{triggerOutputs()['headers']['x-ms-user-email']}<br>\n<br>\n<a href=\"https://sericaenergy.sharepoint.com/:b:/r/sites/IS/Shared%20Documents/Engineering%20Document%20Review%20End%20User%20Guide.pdf?csf=1&amp;web=1&amp;e=3c9JHb\">Not sure what this is? Click here for more information on Serica's engineering document review process.</a></p>","emailMessage/Attachments":[{"Name":"@triggerBody()?['entity']?['fileName']","ContentBytes":"@body('Get_file_content')"}]},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Grant_access_to_an_item_or_a_folder_4":["Succeeded"]},"expression":{"greater":["@length(variables('Info Only Email'))",0]},"metadata":{"operationMetadataId":"d104a85a-f7ff-4299-8696-7d0787ccfb56"},"type":"If"}},"runAfter":{"Compose_3":["Succeeded"]},"else":{"actions":{"Update_Folder_properties":{"runAfter":{},"metadata":{"operationMetadataId":"e5393181-5ae5-4d3a-b37e-49f52129f314"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://sericaenergy.sharepoint.com/sites/EIHReview","table":"5d3b91d3-cddb-4a06-962e-e7d5e87679a6","id":"@outputs('Create_new_folder')?['body/ID']","item/Title":"@variables('FolderName')","item/Status/Value":"New","item/DocumentNumber":"@outputs('Get_file_properties')?['body/EIHDocNum']","item/DueDate":"@triggerBody()['date']","item/Revision":"@outputs('Get_file_properties')?['body/EIHRevision_Code']","item/ResponsibleEngineer/Claims":"@triggerBody()?['email_1']","item/Comments":"@variables('InputComments')"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Grant_access_to_an_item_or_a_folder":{"runAfter":{"Update_Folder_properties":["Succeeded"]},"metadata":{"operationMetadataId":"3224e4c1-b54d-462a-b723-566d2071591d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GrantAccess"},"parameters":{"dataset":"https://sericaenergy.sharepoint.com/sites/EIHReview","table":"5d3b91d3-cddb-4a06-962e-e7d5e87679a6","id":"@outputs('Update_Folder_properties')?['body/ID']","parameter/recipients":"@{outputs('Update_Folder_properties')?['body/ResponsibleEngineer/Email']};@{outputs('Update_Folder_properties')?['body/Reviewer/Email']}","parameter/roleValue":"role:1073741827","parameter/sendEmail":false},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_file_-_File_For_Review":{"runAfter":{"Condition_10":["Succeeded"]},"metadata":{"operationMetadataId":"5fe82d11-b7d8-429f-b455-e16ae6f4f156"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://sericaenergy.sharepoint.com/sites/EIHReview","folderPath":"/Shared Documents/@{variables('FolderName')}","name":"@triggerBody()?['entity']?['fileName']","body":"@outputs('Get_file_content')?['body']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Update_file_properties_Copied_File":{"runAfter":{"Create_file_-_File_For_Review":["Succeeded"]},"metadata":{"operationMetadataId":"b6cb31e2-2082-4fe5-b187-2265ea28b476"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://sericaenergy.sharepoint.com/sites/EIHReview","table":"5d3b91d3-cddb-4a06-962e-e7d5e87679a6","id":"@outputs('Create_file_-_File_For_Review')?['body/ItemId']","item/Title":"@outputs('Update_Folder_properties')?['body/Title']","item/Status/Value":"New","item/DocumentNumber":"@outputs('Get_file_properties')?['body/DocumentNumber']","item/DueDate":"@outputs('Update_Folder_properties')?['body/DueDate']","item/Revision":"@outputs('Get_file_properties')?['body/EIHRevision_Code']","item/ResponsibleEngineer/Claims":"@triggerBody()['email_1']","item/Comments":"@outputs('Update_Folder_properties')?['body/Comments']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_file__Comment_Response_Sheet":{"runAfter":{"Update_file_properties_Copied_File":["Succeeded"]},"metadata":{"operationMetadataId":"c7059d6b-eebe-4f94-9c02-b0a8000c8df1"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://sericaenergy.sharepoint.com/sites/EIHReview","folderPath":"/Shared Documents/@{variables('FolderName')}","name":"@outputs('Get_file_properties_Response_Sheet')?['body/{FilenameWithExtension}']","body":"@outputs('Get_file_content_Response_Sheet')?['body']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Update_file_properties_Response_Sheet":{"runAfter":{"Create_file__Comment_Response_Sheet":["Succeeded"]},"metadata":{"operationMetadataId":"2d5739fe-a9c8-4fe4-af6c-7f428fd0244a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://sericaenergy.sharepoint.com/sites/EIHReview","table":"5d3b91d3-cddb-4a06-962e-e7d5e87679a6","id":"@outputs('Create_file__Comment_Response_Sheet')?['body/ItemId']","item/Title":"@outputs('Get_file_properties')?['body/Title']","item/Status/Value":"New","item/DocumentNumber":"@outputs('Get_file_properties')?['body/EIHDocNum']","item/DueDate":"@triggerBody()['date']","item/Revision":"@outputs('Get_file_properties')?['body/EIHRevision_Code']","item/ResponsibleEngineer/Claims":"@triggerBody()['email_1']","item/Comments":"@variables('InputComments')","item/ChangeRequest":"@outputs('Get_file_properties')?['body/EIHChangeRef']","item/PRE":"@triggerBody()?['email_1']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Condition_10":{"actions":{"Apply_to_each_6":{"foreach":"@variables('Info Only Email')","actions":{"Compose_4":{"runAfter":{},"metadata":{"operationMetadataId":"e73d1489-95cd-4cc6-8456-6389b35efbfd"},"type":"Compose","inputs":"@items('Apply_to_each_6')"},"Grant_access_to_an_item_or_a_folder_6":{"runAfter":{"Compose_4":["Succeeded"]},"metadata":{"operationMetadataId":"2ac9ca93-9fb9-45b6-a8b4-129d6fe5e3cc"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GrantAccess"},"parameters":{"dataset":"https://sericaenergy.sharepoint.com/sites/EIHReview","table":"5d3b91d3-cddb-4a06-962e-e7d5e87679a6","id":"@outputs('Update_Folder_properties')?['body/ID']","parameter/recipients":"@outputs('Compose_4')","parameter/roleValue":"role:1073741827"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"metadata":{"operationMetadataId":"10d44e03-a7f9-4461-8429-9e228a3a8321"},"type":"Foreach"},"Send_an_email_(V2)_5":{"runAfter":{"Apply_to_each_6":["Succeeded"]},"metadata":{"operationMetadataId":"21d0f54d-b3a6-481d-ae4e-235fb246f088"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@variables('Info Only Email')","emailMessage/Subject":"Design Document FOR INFO Only: - @{outputs('Get_file_properties')?['body/Title']} - @{outputs('Get_file_properties')?['body/EIHDocNum']}","emailMessage/Body":"<p>Please find attached the following document for your information:<br>\n<br>\nDocument Number: @{outputs('Get_file_properties')?['body/EIHDocNum']}<br>\nTitle: @{outputs('Get_file_properties')?['body/Title']}<br>\nRevision Code: @{outputs('Get_file_properties')?['body/EIHRevision_Status']}<br>\n<br>\nYou are not required to comment, accept or approve the above document.<br>\nIf you have comments on the document please contact:<br>\n<br>\n@{triggerOutputs()['headers']['x-ms-user-email']}<br>\n<br>\n<a href=\"https://sericaenergy.sharepoint.com/:b:/r/sites/IS/Shared%20Documents/Engineering%20Document%20Review%20End%20User%20Guide.pdf?csf=1&amp;web=1&amp;e=3c9JHb\">Not sure what this is? Click here for more information on Serica's engineering document review process.</a></p>","emailMessage/Attachments":[{"Name":"@triggerBody()?['entity']?['fileName']","ContentBytes":"@body('Get_file_content')"}]},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Grant_access_to_an_item_or_a_folder":["Succeeded"]},"expression":{"greater":["@length(variables('Info Only Email'))",3]},"metadata":{"operationMetadataId":"8a4bdf39-848a-4d9b-8c75-8eb66a590556"},"type":"If"}}},"expression":{"equals":["@triggerBody()['boolean_2']","@true"]},"metadata":{"operationMetadataId":"a191cdcb-fca1-4ac5-817d-e3ff292e4e5c"},"type":"If"},"Compose_3":{"runAfter":{"Create_new_folder":["Succeeded"]},"metadata":{"operationMetadataId":"a842bb6a-8f02-43f2-9069-72df70dc4530"},"type":"Compose","inputs":"https://sericaenergy.sharepoint.com/sites/EIHReview/Shared%20Documents/@{variables('FolderName')}"},"Set_variable_10":{"runAfter":{"Condition_4":["Succeeded"]},"metadata":{"operationMetadataId":"9ae2c0c4-1e87-437b-bee2-62c0ae0839b4"},"type":"SetVariable","inputs":{"name":"FolderName","value":"@{outputs('Compose_3')}"}}},"runAfter":{},"metadata":{"operationMetadataId":"8e060e8f-53ff-440e-8766-3ce269489a25"},"type":"Scope"},"Scope_-_Manager_Approval":{"actions":{"Condition_Manager_Approval":{"actions":{"Append_to_string_variable_Manager_Text":{"runAfter":{},"metadata":{"operationMetadataId":"57389750-2bb6-418d-a2df-98400ffdc76c"},"type":"AppendToStringVariable","inputs":{"name":"Manager Text","value":"\n@{variables('Responsible Engineer Text')}"}},"Condition_5":{"actions":{"Apply_to_each_Manager_Approved":{"foreach":"@outputs('Start_and_wait_for_an_approval_Manager')?['body/responses']","actions":{"Condition_3":{"actions":{"Set_variable_4":{"runAfter":{},"metadata":{"operationMetadataId":"5d32de57-1207-4679-adf3-4c0d99fd24c1"},"type":"SetVariable","inputs":{"name":"Approved","value":"@true"}},"Update_file_properties_5":{"runAfter":{"Set_variable_4":["Succeeded"]},"metadata":{"operationMetadataId":"92388e38-d6ca-4a60-a1f0-e7c86a19ff35"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://sericaenergy.sharepoint.com/sites/EIHReview","table":"5d3b91d3-cddb-4a06-962e-e7d5e87679a6","id":"@outputs('Update_Folder_properties')?['body/ID']","item/Status/Value":"Approved"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Update_file_properties_14":{"runAfter":{"Update_file_properties_5":["Succeeded"]},"metadata":{"operationMetadataId":"8df3ac2a-2c8c-41c5-a7e1-bfdf402510c2"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://sericaenergy.sharepoint.com/sites/EIHReview","table":"5d3b91d3-cddb-4a06-962e-e7d5e87679a6","id":"@outputs('Update_file_properties_Copied_File')?['body/ID']","item/Status/Value":"Approved"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"else":{"actions":{"Set_variable_5":{"runAfter":{},"metadata":{"operationMetadataId":"97e800ea-800d-44d0-9d54-8af6eaf7f1d6"},"type":"SetVariable","inputs":{"name":"Approved","value":"@false"}},"Update_file_properties_6":{"runAfter":{"Set_variable_5":["Succeeded"]},"metadata":{"operationMetadataId":"16786d5a-00db-40fb-b36b-524c6540aa75"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://sericaenergy.sharepoint.com/sites/EIHReview","table":"5d3b91d3-cddb-4a06-962e-e7d5e87679a6","id":"@outputs('Update_Folder_properties')?['body/ID']","item/Status/Value":"Rejected"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Update_file_properties_15":{"runAfter":{"Update_file_properties_6":["Succeeded"]},"metadata":{"operationMetadataId":"913f90b9-3b3d-4eb3-bc69-9a23884aa329"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://sericaenergy.sharepoint.com/sites/EIHReview","table":"5d3b91d3-cddb-4a06-962e-e7d5e87679a6","id":"@outputs('Update_file_properties_Copied_File')?['body/ID']","item/Status/Value":"Rejected"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"expression":{"equals":["@items('Apply_to_each_Manager_Approved')?['approverResponse']","Approve"]},"metadata":{"operationMetadataId":"26739c72-4a4a-4bea-8eb1-39c6eeebc59b"},"type":"If"},"Set_variable_Manager_Text_to_comments":{"runAfter":{"Condition_3":["Succeeded"]},"metadata":{"operationMetadataId":"0a015334-64e0-4695-92db-0b191b6207c4"},"type":"SetVariable","inputs":{"name":"Manager Text","value":"@items('Apply_to_each_Manager_Approved')?['comments']"}}},"runAfter":{"Start_and_wait_for_an_approval_Manager":["Succeeded"]},"metadata":{"operationMetadataId":"98264093-4b18-4437-b062-8b65493d7209"},"type":"Foreach"},"Grant_access_to_an_item_or_a_folder_3":{"runAfter":{},"metadata":{"operationMetadataId":"e3db0d70-ffce-4a13-a574-d3311f75171d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GrantAccess"},"parameters":{"dataset":"https://sericaenergy.sharepoint.com/sites/EIHReview","table":"5d3b91d3-cddb-4a06-962e-e7d5e87679a6","id":"@outputs('Update_Folder_properties')?['body/ID']","parameter/recipients":"@triggerBody()['email_3']","parameter/roleValue":"role:1073741827"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Update_file_properties_3":{"runAfter":{"Grant_access_to_an_item_or_a_folder_3":["Succeeded"]},"metadata":{"operationMetadataId":"bd3d43cc-48f1-4e3b-931a-d71f428973f7"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://sericaenergy.sharepoint.com/sites/EIHReview","table":"5d3b91d3-cddb-4a06-962e-e7d5e87679a6","id":"@outputs('Update_Folder_properties')?['body/ID']","item/Status/Value":"Manager Review"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Start_and_wait_for_an_approval_Manager":{"runAfter":{"Update_file_properties_3":["Succeeded"]},"metadata":{"operationMetadataId":"4e7130e0-449e-44f9-8449-e0aebf21e478"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"Document Manager Approval: @{outputs('Get_file_properties')?['body/EIHDocNum']} - @{outputs('Get_file_properties')?['body/Title']}","WebhookApprovalCreationInput/assignedTo":"@{triggerBody()['email_3']};","WebhookApprovalCreationInput/details":"Document Number: @{outputs('Get_file_properties')?['body/EIHDocNum']}\nTitle: @{outputs('Get_file_properties')?['body/Title']}\nRevision Code: @{outputs('Get_file_properties')?['body/EIHRevision_Code']}\nThe above document requires your review as manager. \n\nResponsible Engineer:  @{triggerBody()?['email_1']}\n\nNotes: \n\n@{variables('Manager Text')}\n\nPlease Approve or Reject using the below buttons and mark your response on the front sheet of the document. \n\nIf you have comments you can add them to the document or to the CRS.\n\nFor more information on the engineering document review process: https://sericaenergy.sharepoint.com/:b:/r/sites/IS/Shared%20Documents/Engineering%20Document%20Review%20End%20User%20Guide.pdf?csf=1&amp;web=1&amp;e=3c9JHb\n","WebhookApprovalCreationInput/itemLink":"@variables('FolderName')","WebhookApprovalCreationInput/itemLinkDescription":"Document and comments received can be access here ","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":false},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Append_to_string_variable_Manager_Text":["Succeeded"]},"else":{"actions":{"Start_and_wait_for_an_approval_Manager_Approval_Only":{"runAfter":{},"metadata":{"operationMetadataId":"04659e5e-ee0c-4b24-910c-07da40a50121"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"Document Manager Approval: @{outputs('Get_file_properties')?['body/EIHDocNum']} - @{outputs('Get_file_properties')?['body/Title']}","WebhookApprovalCreationInput/assignedTo":"@{triggerBody()?['email_3']};","WebhookApprovalCreationInput/details":"Document Number: @{outputs('Get_file_properties')?['body/EIHDocNum']}@{triggerBody()?['text']}\nTitle: @{outputs('Get_file_properties')?['body/Title']}\nRevision Code: @{outputs('Get_file_properties')?['body/EIHRevision_Code']}\n\nThe above document requires your review as manager. \n\nNotes: \n@{triggerBody()?['text']}\n\nPlease Approve or Reject using the below buttons and mark your response on the front sheet of the document. \n\nIf you have comments you can add them to the document or to the CRS.\n\nFor more information on the engineering document review process: https://sericaenergy.sharepoint.com/:b:/r/sites/IS/Shared%20Documents/Engineering%20Document%20Review%20End%20User%20Guide.pdf?csf=1&amp;web=1&amp;e=3c9JHb\n","WebhookApprovalCreationInput/itemLink":"@variables('FolderName')","WebhookApprovalCreationInput/itemLinkDescription":"Document  can be accessed here ","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each_4":{"foreach":"@outputs('Start_and_wait_for_an_approval_Manager_Approval_Only')?['body/responses']","actions":{"Condition_6":{"actions":{"Set_variable":{"runAfter":{},"metadata":{"operationMetadataId":"c4bb32d7-c8c1-4939-8666-11a1556a6e07"},"type":"SetVariable","inputs":{"name":"Approved","value":"@true"}},"Update_file_properties_10":{"runAfter":{"Set_variable":["Succeeded"]},"metadata":{"operationMetadataId":"94da6942-133a-4030-89fb-bcf7d92f9d6a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://sericaenergy.sharepoint.com/sites/EIHReview","table":"5d3b91d3-cddb-4a06-962e-e7d5e87679a6","id":"@outputs('Update_Folder_properties_2')?['body/ID']","item/Status/Value":"Approved"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Update_file_properties_12":{"runAfter":{"Update_file_properties_10":["Succeeded"]},"metadata":{"operationMetadataId":"3aade147-74a5-40bb-aed3-721334b8e3b1"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://sericaenergy.sharepoint.com/sites/EIHReview","table":"5d3b91d3-cddb-4a06-962e-e7d5e87679a6","id":"@outputs('Update_file_properties_9')?['body/ID']","item/Status/Value":"Approved"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"else":{"actions":{"Set_variable_6":{"runAfter":{},"metadata":{"operationMetadataId":"3937a21a-aa57-4603-bee8-548c6f896af9"},"type":"SetVariable","inputs":{"name":"Approved","value":"@false"}},"Update_file_properties_11":{"runAfter":{"Set_variable_6":["Succeeded"]},"metadata":{"operationMetadataId":"92ef17e0-90db-445d-ac27-27337333555c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://sericaenergy.sharepoint.com/sites/EIHReview","table":"5d3b91d3-cddb-4a06-962e-e7d5e87679a6","id":"@outputs('Update_Folder_properties_2')?['body/ID']","item/Status/Value":"Rejected"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Update_file_properties_13":{"runAfter":{"Update_file_properties_11":["Succeeded"]},"metadata":{"operationMetadataId":"0de545bd-9aa1-419c-904a-968a5dfb6d06"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://sericaenergy.sharepoint.com/sites/EIHReview","table":"5d3b91d3-cddb-4a06-962e-e7d5e87679a6","id":"@outputs('Update_file_properties_9')?['body/ID']","item/Status/Value":"Rejected"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"expression":{"equals":["@items('Apply_to_each_4')?['approverResponse']","Approve"]},"metadata":{"operationMetadataId":"f2070b1a-eff8-4674-acb9-d4cccb3c4590"},"type":"If"}},"runAfter":{"Start_and_wait_for_an_approval_Manager_Approval_Only":["Succeeded"]},"metadata":{"operationMetadataId":"a1a67643-a418-4b0d-b4e1-e5863412abaa"},"type":"Foreach"}}},"expression":{"equals":["@triggerBody()['boolean_2']","@false"]},"metadata":{"operationMetadataId":"72a5c09e-6a99-4059-8447-8a021ecfc2c9"},"type":"If"}},"runAfter":{},"else":{"actions":{"Set_variable_Manager_Text_to_Blank":{"runAfter":{},"metadata":{"operationMetadataId":"ce53aab4-0e1f-42b5-96e4-55c8b12c638a"},"type":"SetVariable","inputs":{"name":"Manager Text","value":"@{null}"}}}},"expression":{"and":[{"equals":["@triggerBody()['boolean_1']","@true"]},{"equals":["@variables('Approved')","@true"]}]},"metadata":{"operationMetadataId":"50ae18b8-0c34-4018-a382-e48c82dd0294"},"type":"If"}},"runAfter":{"Condition_Do_Review":["Succeeded","TimedOut","Failed","Skipped"]},"metadata":{"operationMetadataId":"9153e30e-0679-4415-b337-ce1a33c2846f"},"type":"Scope"},"Condition_Do_Review":{"actions":{"Scope_-_Review_Comments":{"actions":{"Start_and_wait_for_an_approval_Comment_Responses":{"runAfter":{},"limit":{"timeout":"P14D"},"metadata":{"operationMetadataId":"5c42fb66-d6e0-49d6-af18-9ec0dcc22db2"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"parameters":{"approvalType":"CustomResponseAwaitAll","WebhookApprovalCreationInput/responseOptions":["Comments added in Response Sheet","Comments added in Document","No Comments"],"WebhookApprovalCreationInput/title":"Document for REVIEW: @{outputs('Update_file_properties_Copied_File')?['body/{Name}']} - @{outputs('Get_file_properties')?['body/Title']}","WebhookApprovalCreationInput/assignedTo":"@{triggerBody()['email_2']};","WebhookApprovalCreationInput/details":"Please find attached the following document for review:\nDocument Number: @{outputs('Get_file_properties')?['body/EIHDocNum']}\nTitle: @{outputs('Get_file_properties')?['body/Title']}\nRevision Code: @{outputs('Get_file_properties')?['body/EIHRevision_Code']}\n\nComments Due by: @{triggerBody()['date']}\nResponsible Engineer: @{triggerBody()?['email_1']}\n\nPlease provide comments using the comment response sheet or directly in the document. Both can be found by following the link.\n\nYou must select one of the below buttons once you have completed your review, even if you have no comments.\n\nThis will close your review task and notify the responsible engineer.\n\n","WebhookApprovalCreationInput/itemLink":"@variables('FolderName')","WebhookApprovalCreationInput/itemLinkDescription":"Review Folder","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":false},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each":{"foreach":"@outputs('Start_and_wait_for_an_approval_Comment_Responses')?['body/responses']","actions":{"Append_to_string_variable_-_Build_Comment_Responses":{"runAfter":{},"metadata":{"operationMetadataId":"7e7bc7c7-042b-446d-b44f-849fe12c2ff9"},"type":"AppendToStringVariable","inputs":{"name":"Reviewer Items","value":"The following review has been carried out by @{items('Apply_to_each')?['responder/displayName']} with the following outcome @{items('Apply_to_each')?['approverResponse']}\nand the following comments:\n@{items('Apply_to_each')?['comments']}\n\n"}},"Update_file_properties":{"runAfter":{"Append_to_string_variable_-_Build_Comment_Responses":["Succeeded"]},"metadata":{"operationMetadataId":"f7ace327-fbcf-49ce-9f74-6c265963c16a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://sericaenergy.sharepoint.com/sites/EIHReview","table":"5d3b91d3-cddb-4a06-962e-e7d5e87679a6","id":"@outputs('Update_Folder_properties')?['body/ID']","item/Status/Value":"Responsible Engineer Review"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Start_and_wait_for_an_approval_Comment_Responses":["Succeeded"]},"metadata":{"operationMetadataId":"aa3ce1df-b5b4-40e1-bb79-7e43485d46b6"},"type":"Foreach"},"Append_to_string_variable_-_Add_Comments_to_Resp_Eng_Text":{"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"operationMetadataId":"607ee2b5-0859-403d-aca5-44833907f70f"},"type":"AppendToStringVariable","inputs":{"name":"Responsible Engineer Text","value":"and see the responses from the reviewers below.\n\n@{variables('Reviewer Items')}"}},"Compose":{"runAfter":{"Start_and_wait_for_an_approval_Comment_Responses":["TimedOut"]},"metadata":{"operationMetadataId":"14f7ede0-d1ef-4151-8656-733ea058dd93"},"type":"Compose","inputs":"@outputs('Start_and_wait_for_an_approval_Comment_Responses')?['body/responses']"},"Condition_11":{"actions":{"Apply_to_each_5":{"foreach":"@outputs('Start_and_wait_for_an_approval_Comment_Responses')?['body/responses']","actions":{"Append_to_string_variable_-_Build_Comment_Responses_2":{"runAfter":{},"metadata":{"operationMetadataId":"7e7bc7c7-042b-446d-b44f-849fe12c2ff9"},"type":"AppendToStringVariable","inputs":{"name":"Reviewer Items","value":"The following review has been carried out by @{items('Apply_to_each_5')?['responder/displayName']} with the following outcome @{items('Apply_to_each_5')?['approverResponse']}\nand the following comments:\n@{items('Apply_to_each_5')?['comments']}\n\n"}},"Update_file_properties_16":{"runAfter":{"Append_to_string_variable_-_Build_Comment_Responses_2":["Succeeded"]},"metadata":{"operationMetadataId":"f7ace327-fbcf-49ce-9f74-6c265963c16a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://sericaenergy.sharepoint.com/sites/EIHReview","table":"5d3b91d3-cddb-4a06-962e-e7d5e87679a6","id":"@outputs('Update_Folder_properties')?['body/ID']","item/Status/Value":"Responsible Engineer Review","item/OData__ExtendedDescription":"@{outputs('Update_Folder_properties')?['body/OData__ExtendedDescription']} Response Timed out after 10 days"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"metadata":{"operationMetadataId":"aa3ce1df-b5b4-40e1-bb79-7e43485d46b6"},"type":"Foreach"}},"runAfter":{"Compose":["Succeeded"]},"else":{"actions":{"Update_file_properties_17":{"runAfter":{},"metadata":{"operationMetadataId":"8edeea16-ad87-44cf-97c4-54afb7c9dfc3"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://sericaenergy.sharepoint.com/sites/EIHReview","table":"5d3b91d3-cddb-4a06-962e-e7d5e87679a6","id":"@outputs('Update_Folder_properties')?['body/ID']","item/Status/Value":"Responsible Engineer Review","item/OData__ExtendedDescription":"@{outputs('Update_Folder_properties')?['body/OData__ExtendedDescription']} Reviewer inaction, task closed by time out"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"expression":{"not":{"equals":["@outputs('Compose')","@null"]}},"metadata":{"operationMetadataId":"e8e7b19e-627b-4fec-8b50-8120d58f020c"},"type":"If"}},"runAfter":{"Send_an_email_(V2)_2":["Succeeded"]},"metadata":{"operationMetadataId":"656b8a38-2978-49db-b40a-d7dd467ead05"},"type":"Scope"},"Send_an_email_(V2)_2":{"runAfter":{},"metadata":{"operationMetadataId":"2a02e724-0c91-49c1-8c69-343b45d8ae1d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@triggerBody()['email_1']","emailMessage/Subject":"Supplier Document Review Started:  - @{outputs('Get_file_properties')?['body/Title']} - @{outputs('Get_file_properties')?['body/EIHDocNum']}","emailMessage/Body":"<p>Document Number: @{outputs('Get_file_properties')?['body/EIHDocNum']},<br>\nTitle: @{outputs('Get_file_properties')?['body/Title']} @{outputs('Get_file_properties')?['body/EIHDocNum']}<br>\nRevision Code @{outputs('Get_file_properties')?['body/EIHRevision_Code']}<br>\n<br>\nThe above document has been sent to the following recipients for review:<br>\n@{triggerBody()?['email_2']}<br>\n<br>\nAs responsible engineer, you will be notified once they have closed their tasks.<br>\n<br>\nThe due date for the review is: @{triggerBody()?['date']}<br>\n<br>\nYou can monitor the progress here @{outputs('Update_Folder_properties')?['body/{Link}']}<br>\n<br>\nAdditional Notes:<br>\n<br>\n@{variables('InputComments')}</p>","emailMessage/Attachments":[{"Name":"@triggerBody()?['entity']?['fileName']","ContentBytes":"@outputs('Get_file_content')?['body']"}]},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Scope_-_Responsible_Engineer_Approval":{"actions":{"Start_and_wait_for_an_approval_Responsible_Engineer":{"runAfter":{},"metadata":{"operationMetadataId":"7cd3a80a-0caf-4f0e-bf2b-32811793fd8e"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"parameters":{"approvalType":"CustomResponse","WebhookApprovalCreationInput/responseOptions":["Accepted","Rejected"],"WebhookApprovalCreationInput/title":"Review Item Comments: @{outputs('Get_file_properties')?['body/EIHDocNum']} - @{outputs('Get_file_properties')?['body/Title']}","WebhookApprovalCreationInput/assignedTo":"@{outputs('Update_file_properties_Copied_File')?['body/ResponsibleEngineer/Email']};","WebhookApprovalCreationInput/details":"The below document is ready for your review:\nDocument Number: @{outputs('Get_file_properties')?['body/EIHDocNum']}\nTitle: @{outputs('Get_file_properties')?['body/Title']}\nRevision Code: @{outputs('Get_file_properties')?['body/EIHRevision_Code']}\n\nThe above document is ready for your review. \n\nNotes:\n\n@{variables('Responsible Engineer Text')}\n\nPlease consolidate and review the comments using the CRS and accept or reject the document by selecting below.","WebhookApprovalCreationInput/itemLink":"@variables('FolderName')","WebhookApprovalCreationInput/itemLinkDescription":"Review Folder","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":false},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each_2":{"foreach":"@outputs('Start_and_wait_for_an_approval_Responsible_Engineer')?['body/responses']","actions":{"Condition_Has_Responsible_Engineer_Approved":{"actions":{"Set_variable_2":{"runAfter":{},"metadata":{"operationMetadataId":"d7000297-0531-49c2-84d5-847e62afa4f5"},"type":"SetVariable","inputs":{"name":"Approved","value":"@true"}},"Update_file_properties_4":{"runAfter":{"Set_variable_2":["Succeeded"]},"metadata":{"operationMetadataId":"4996b1e5-9496-4e0a-a2e6-acf04080c5f8"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://sericaenergy.sharepoint.com/sites/EIHReview","table":"5d3b91d3-cddb-4a06-962e-e7d5e87679a6","id":"@outputs('Update_Folder_properties')?['body/ID']","item/Status/Value":"Accepted"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{},"else":{"actions":{"Set_variable_3":{"runAfter":{},"metadata":{"operationMetadataId":"63144524-0972-4efb-bed3-e5b085076d4a"},"type":"SetVariable","inputs":{"name":"Approved","value":"@false"}},"Update_file_properties_2":{"runAfter":{"Set_variable_3":["Succeeded"]},"metadata":{"operationMetadataId":"17721975-7730-4743-a286-de62eea68bcd"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://sericaenergy.sharepoint.com/sites/EIHReview","table":"5d3b91d3-cddb-4a06-962e-e7d5e87679a6","id":"@outputs('Update_Folder_properties')?['body/ID']","item/Status/Value":"Declined"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"expression":{"equals":["@outputs('Start_and_wait_for_an_approval_Responsible_Engineer')?['body/outcome']","Accepted"]},"metadata":{"operationMetadataId":"78576162-0465-4a2c-a43e-eb95ad40a1c1"},"type":"If"},"Set_variable_Resp_Text_to_Comments":{"runAfter":{"Condition_Has_Responsible_Engineer_Approved":["Succeeded"]},"metadata":{"operationMetadataId":"5a7f34be-5de2-4b52-ac36-554ce0591ce7"},"type":"SetVariable","inputs":{"name":"Responsible Engineer Text","value":"@items('Apply_to_each_2')?['comments']"}}},"runAfter":{"Start_and_wait_for_an_approval_Responsible_Engineer":["Succeeded"]},"metadata":{"operationMetadataId":"e1fde007-14bc-44db-a88a-403f1fdeafe1"},"type":"Foreach"}},"runAfter":{"Scope_-_Review_Comments":["Succeeded","TimedOut","Skipped","Failed"]},"metadata":{"operationMetadataId":"3001a233-88ad-426a-90c4-b2cd7c880f1f"},"type":"Scope"}},"runAfter":{"Scope_-_Set_Up_Folder":["Succeeded"]},"expression":{"and":[{"equals":["@variables('Dont Review')","@false"]},{"equals":["@triggerBody()['boolean_2']","@false"]}]},"metadata":{"operationMetadataId":"3f662a61-dd82-407c-a0b6-c8306e9a95b6"},"type":"If"},"Scope_-_Doc_Control":{"actions":{"Condition_Is_Approved":{"actions":{"Start_and_wait_for_an_approval":{"runAfter":{},"metadata":{"operationMetadataId":"2e5c9769-f4be-4548-9e76-5c3be83b0b5c"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"parameters":{"approvalType":"CustomResponse","WebhookApprovalCreationInput/responseOptions":["Convert","Publish","I will do this myself"],"WebhookApprovalCreationInput/title":"Document @{triggerBody()?['entity']?['fileName']} Accepted","WebhookApprovalCreationInput/assignedTo":"@{triggerOutputs()['headers']['x-ms-user-email']};;","WebhookApprovalCreationInput/details":"The final review has been completed for @{triggerBody()?['entity']?['fileName']}\nThe outcome of the review is that the document has been Accepted\n\n@{variables('Responsible Engineer Text')}\n\n@{variables('Manager Text')}\n\nWould you like the workflow to Convert and/or publish the CRS\nNotes\nConvert will automatically convert the document utilising One Drive and then Publish the PDF into the Appropriate Document Set\nPublish will Publish the file as is without convertion\n\nIf you wish to do this yourself i.e. needs manual convertion to PDF then choose the I will do this myself option","WebhookApprovalCreationInput/itemLink":"@outputs('Update_Folder_properties')?['body/{Link}']","WebhookApprovalCreationInput/itemLinkDescription":"Link to Review Folder","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each_3":{"foreach":"@outputs('Start_and_wait_for_an_approval')?['body/responses']","actions":{"Switch":{"runAfter":{},"cases":{"Case_Convert":{"case":"Convert","actions":{"Create_file":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/","name":"@triggerBody()?['entity']?['fileName']","body":"@outputs('Get_file_content')?['body']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Convert_file":{"runAfter":{"Create_file":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"ConvertFile"},"parameters":{"id":"@outputs('Create_file')?['body/Id']","type":"PDF"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Create_file_2":{"runAfter":{"Convert_file":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"parameters":{"dataset":"https://sericaenergy.sharepoint.com/sites/EngPub","folderPath":"/TEST DOCS/@{outputs('Get_file_properties')?['body/EIHDocNum']}","name":"@outputs('Convert_file')?['headers/x-ms-file-name']","body":"@outputs('Convert_file')?['body']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Update_file_properties_7":{"runAfter":{"Create_file_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://sericaenergy.sharepoint.com/sites/EngPub","table":"bc737f82-3c1b-4781-ab3a-9163e702b855","id":"@outputs('Create_file_2')?['body/ItemId']","item/Title":"@outputs('Get_file_properties')?['body/Title']","item/EIHDocNum":"@outputs('Get_file_properties')?['body/EIHDocNum']","item/EIHDocClass/Value":"CRS","item/EIHAsset/Value":"@outputs('Get_file_properties')?['body/EIHAsset/Value']","item/EIHRevision_Status":"@outputs('Get_file_properties')?['body/EIHRevision_Code']","item/EIHRevisionStatus/Value":"@outputs('Get_file_properties')?['body/EIHRevisionStatus/Value']","item/EIHRevisionDate":"@outputs('Get_file_properties')?['body/EIHRevisionDate']","item/EIHReceivedDate":"@outputs('Get_file_properties')?['body/EIHReceivedDate']","item/EIHCommentReturnedDate":"@outputs('Get_file_properties')?['body/EIHCommentReturnedDate']","item/EIHSequenceNo":"@outputs('Get_file_properties')?['body/EIHSequenceNo']","item/EIHSheetNumber":"@outputs('Get_file_properties')?['body/EIHSheetNumber']","item/EIHSystemCode/Value":"@outputs('Get_file_properties')?['body/EIHSystemCode/Value']","item/EIHDiscipline/Value":"@outputs('Get_file_properties')?['body/EIHDiscipline/Value']","item/EIHSupplier/Value":"@outputs('Get_file_properties')?['body/EIHSupplier/Value']","item/EIHSupplier2":"@outputs('Get_file_properties')?['body/EIHSupplier2']","item/EIHAltDocNum":"@outputs('Get_file_properties')?['body/EIHAltDocNum']","item/EIHRetentionCode":"@outputs('Get_file_properties')?['body/EIHRetentionCode']","item/Remarks":"@outputs('Get_file_properties')?['body/EIHComments']","item/EIHComments":"@outputs('Get_file_properties')?['body/EIHComments']","item/EIHControlledGroup":"@outputs('Get_file_properties')?['body/EIHControlledGroup']","item/EIHIsControlled":"@outputs('Get_file_properties')?['body/EIHIsControlled']","item/EIHPurchaseOrder":"@outputs('Get_file_properties')?['body/EIHPurchaseOrder']","item/OData__ExtendedDescription":"@outputs('Get_file_properties')?['body/OData__ExtendedDescription']","item/Revision_x0020_Status/Value":"@outputs('Get_file_properties')?['body/EIHRevisionStatus/Value']","item/Received_x0020_Date":"@outputs('Get_file_properties')?['body/EIHReceivedDate']","item/Legacy_x0020_Revision_x0020_Code":"@outputs('Get_file_properties')?['body/EIHLegacyRevsion']","item/EIHLegacyRevsion":"@outputs('Get_file_properties')?['body/EIHLegacyRevsion']","item/EIHRevisionCode/Value":"@outputs('Get_file_properties')?['body/EIHRevisionCode/Value']","item/Document_x0020_Class/Value":"@outputs('Get_file_properties')?['body/EIHDocClass/Value']","item/DocumentNumber":"@outputs('Get_file_properties')?['body/EIHDocNum']","item/Document_x0020_Title":"@outputs('Get_file_properties')?['body/Title']","item/Other_x0020_Document_x0020_Number":"@outputs('Get_file_properties')?['body/EIHAltDocNum']","item/Retention_x0020_Code/Value":"@outputs('Get_file_properties')?['body/EIHRetentionCode']","item/Sheet_x0020_Number":"@outputs('Get_file_properties')?['body/EIHSheetNumber']","item/System_x0020_Code/Value":"@outputs('Get_file_properties')?['body/EIHSystemCode/Value']","item/EIHArchiveRef":"@outputs('Get_file_properties')?['body/EIHArchiveRef']","item/EIHArea/Value":"@outputs('Get_file_properties')?['body/EIHArea/Value']","item/EIHChangeRef":"@outputs('Get_file_properties')?['body/EIHChangeRef']","item/{ContentType}/Id":"0x01010069801163B346E743A1B5725CC330812B0097E3CF8C742235419567811D94F09E2F"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"Case_Publish":{"case":"Publish","actions":{"Copy_file":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CopyFileAsync"},"parameters":{"dataset":"https://sericaenergy.sharepoint.com/sites/EngNative","parameters/sourceFileId":"@triggerBody()?['entity']?['ID']","parameters/destinationDataset":"https://sericaenergy.sharepoint.com/sites/EngPub","parameters/destinationFolderPath":"/TEST DOCS/@{outputs('Get_file_properties')?['body/EIHDocNum']}@{outputs('Get_file_properties')?['body/EIHDocNum']}","parameters/nameConflictBehavior":1},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Update_file_properties_8":{"runAfter":{"Copy_file":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchFileItem"},"parameters":{"dataset":"https://sericaenergy.sharepoint.com/sites/EngPub","table":"bc737f82-3c1b-4781-ab3a-9163e702b855","id":"@outputs('Copy_file')?['body/ItemId']","item/Title":"@outputs('Get_file_properties')?['body/Title']","item/EIHDocNum":"@outputs('Get_file_properties')?['body/EIHDocNum']","item/EIHDocClass/Value":"CRS","item/EIHAsset/Value":"@outputs('Get_file_properties')?['body/EIHAsset/Value']","item/EIHRevision_Status":"@outputs('Get_file_properties')?['body/EIHRevision_Code']","item/EIHRevisionStatus/Value":"@outputs('Get_file_properties')?['body/EIHRevisionStatus/Value']","item/EIHRevisionDate":"@outputs('Get_file_properties')?['body/EIHRevisionDate']","item/EIHReceivedDate":"@outputs('Get_file_properties')?['body/EIHReceivedDate']","item/EIHCommentReturnedDate":"@outputs('Get_file_properties')?['body/EIHCommentReturnedDate']","item/EIHSequenceNo":"@outputs('Get_file_properties')?['body/EIHSequenceNo']","item/EIHSheetNumber":"@outputs('Get_file_properties')?['body/EIHSheetNumber']","item/EIHSystemCode/Value":"@outputs('Get_file_properties')?['body/EIHSystemCode/Value']","item/EIHDiscipline/Value":"@outputs('Get_file_properties')?['body/EIHDiscipline/Value']","item/EIHSupplier/Value":"@outputs('Get_file_properties')?['body/EIHSupplier/Value']","item/EIHSupplier2":"@outputs('Get_file_properties')?['body/EIHSupplier2']","item/EIHAltDocNum":"@outputs('Get_file_properties')?['body/EIHAltDocNum']","item/EIHRetentionCode":"@outputs('Get_file_properties')?['body/EIHRetentionCode']","item/Remarks":"@outputs('Get_file_properties')?['body/EIHComments']","item/EIHComments":"@outputs('Get_file_properties')?['body/EIHComments']","item/EIHControlledGroup":"@outputs('Get_file_properties')?['body/EIHControlledGroup']","item/EIHIsControlled":"@outputs('Get_file_properties')?['body/EIHIsControlled']","item/EIHPurchaseOrder":"@outputs('Get_file_properties')?['body/EIHPurchaseOrder']","item/OData__ExtendedDescription":"@outputs('Get_file_properties')?['body/OData__ExtendedDescription']","item/Revision_x0020_Status/Value":"@outputs('Get_file_properties')?['body/EIHRevisionStatus/Value']","item/Received_x0020_Date":"@outputs('Get_file_properties')?['body/EIHReceivedDate']","item/Legacy_x0020_Revision_x0020_Code":"@outputs('Get_file_properties')?['body/EIHLegacyRevsion']","item/EIHLegacyRevsion":"@outputs('Get_file_properties')?['body/EIHLegacyRevsion']","item/EIHRevisionCode/Value":"@outputs('Get_file_properties')?['body/EIHRevisionCode/Value']","item/Document_x0020_Class/Value":"@outputs('Get_file_properties')?['body/EIHDocClass/Value']","item/DocumentNumber":"@outputs('Get_file_properties')?['body/EIHDocNum']","item/Document_x0020_Title":"@outputs('Get_file_properties')?['body/Title']","item/Other_x0020_Document_x0020_Number":"@outputs('Get_file_properties')?['body/EIHAltDocNum']","item/Retention_x0020_Code/Value":"@outputs('Get_file_properties')?['body/EIHRetentionCode']","item/Sheet_x0020_Number":"@outputs('Get_file_properties')?['body/EIHSheetNumber']","item/System_x0020_Code/Value":"@outputs('Get_file_properties')?['body/EIHSystemCode/Value']","item/EIHArchiveRef":"@outputs('Get_file_properties')?['body/EIHArchiveRef']","item/EIHArea/Value":"@outputs('Get_file_properties')?['body/EIHArea/Value']","item/EIHChangeRef":"@outputs('Get_file_properties')?['body/EIHChangeRef']","item/{ContentType}/Id":"Engineering Design Document Revision"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}}},"default":{"actions":{}},"expression":"@items('Apply_to_each_3')?['approverResponse']","metadata":{"operationMetadataId":"525d9e77-4e04-4fae-ab98-f14139ab9507"},"type":"Switch"}},"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"metadata":{"operationMetadataId":"91528e2c-9ddf-47db-aaf8-d66889dc37dd"},"type":"Foreach"}},"runAfter":{},"else":{"actions":{"Send_an_email_(V2)_3":{"runAfter":{},"metadata":{"operationMetadataId":"91d1cf4d-aa23-4244-a22f-f83f6efd4409"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@triggerOutputs()['headers']['x-ms-user-email']","emailMessage/Subject":"Supplier Document Decline: @{outputs('Get_file_properties')?['body/Title']} - @{outputs('Get_file_properties')?['body/EIHDocNum']}","emailMessage/Body":"<p>The final review has been completed for @{triggerBody()?['entity']?['fileName']}<br>\nThe outcome of the review is that the document has been Declined<br>\n<br>\n@{variables('Responsible Engineer Text')}<br>\n<br>\n@{variables('Manager Text')}</p>"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"expression":{"equals":["@variables('Approved')","@true"]},"metadata":{"operationMetadataId":"7bef001f-8d15-42c0-89ff-635772655f6f"},"type":"If"}},"runAfter":{"Condition_2":["Succeeded","TimedOut","Failed","Skipped"]},"metadata":{"operationMetadataId":"79f9eaa2-5e42-4b76-b85a-3aae4486018a"},"type":"Scope"},"Condition_2":{"actions":{"Set_Folder_to_View_only":{"runAfter":{},"metadata":{"operationMetadataId":"d67a721f-9a41-4e3d-ab17-419597cbc1cf"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GrantAccess"},"parameters":{"dataset":"https://sericaenergy.sharepoint.com/sites/EIHReview","table":"5d3b91d3-cddb-4a06-962e-e7d5e87679a6","id":"@outputs('Update_Folder_properties')?['body/ID']","parameter/recipients":"@{outputs('Create_new_folder')?['body/Reviewer/Email']};@{outputs('Update_Folder_properties')?['body/ResponsibleEngineer/Email']}","parameter/roleValue":"role:1073741826","parameter/sendEmail":false},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Condition_9":{"actions":{"Grant_access_to_an_item_or_a_folder_5":{"runAfter":{},"metadata":{"operationMetadataId":"5e334172-c6db-4af9-8f5a-285bb68f4798"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GrantAccess"},"parameters":{"dataset":"https://sericaenergy.sharepoint.com/sites/EIHReview","table":"5d3b91d3-cddb-4a06-962e-e7d5e87679a6","id":"@outputs('Update_Folder_properties')?['body/ID']","parameter/recipients":"@variables('Info Only Email')","parameter/roleValue":"role:1073741826"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Set_Folder_to_View_only":["Succeeded"]},"expression":{"greater":["@length(variables('Info Only Email'))",3]},"metadata":{"operationMetadataId":"e646c7db-30c7-492c-996c-e011dfac32f8"},"type":"If"}},"runAfter":{"Scope_-_Manager_Approval":["Succeeded","TimedOut","Failed","Skipped"]},"expression":{"equals":["@triggerBody()['boolean_2']","@false"]},"metadata":{"operationMetadataId":"b1f5b5fe-8d9e-43da-bb00-8e19cac962e9"},"type":"If"},"Terminate":{"runAfter":{"Scope_Failure_Notifications":["Succeeded"]},"metadata":{"operationMetadataId":"447f2c60-1687-47ee-8c23-4eb1971c9eaf"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}},"Scope_Failure_Notifications":{"actions":{"Compose_Flow_run_link":{"runAfter":{},"metadata":{"operationMetadataId":"304e2c8e-c6d8-4bd0-ac4d-57951dd57763"},"type":"Compose","inputs":"@concat('https://us.flow.microsoft.com/manage/environments/', workflow()?['tags']?['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"},"Get_my_profile_(V2)":{"runAfter":{"Compose_Flow_run_link":["Succeeded"]},"metadata":{"operationMetadataId":"16453b92-e67e-40aa-acf4-fbd90183a4f0"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users_1","operationId":"MyProfile_V2"},"parameters":{},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Send_an_email_(V2)_Failure_notification":{"runAfter":{"Get_my_profile_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"bd4b39c2-3462-4a00-b21d-d8ac056f00d2"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@triggerOutputs()['headers']['x-ms-user-email']","emailMessage/Subject":"Your @{workflow()?['tags']?['flowDisplayName']} flow failed","emailMessage/Body":"<p>Check your flow.<br>\n<br>\n<a href=\"@{outputs('Compose_Flow_run_link')}\">Flow Run Link</a>&nbsp;</p>"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Scope_-_Doc_Control":["Failed"]},"metadata":{"operationMetadataId":"072e1b99-2b98-4cdc-bb50-f9ef10d9a137"},"type":"Scope","description":"Set this Scope's Configure run after settings to \"has failed\", \"is skipped\", and \"has timed out\"."}}},"expression":{"equals":["@triggerBody()['boolean']","@true"]},"metadata":{"operationMetadataId":"c883e02f-40d9-4b25-91b0-579351e07a39"},"type":"If"},"Initialize_variable_-_Folder_Name":{"runAfter":{"Scope_-_Get_File_Information":["Succeeded"]},"metadata":{"operationMetadataId":"a331ffad-354e-4224-a657-baa93cefd26e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"FolderName","type":"string","value":"@{outputs('Get_file_properties')?['body/EIHDocNum']}-@{outputs('Get_file_properties')?['body/EIHRevision_Code']}-@{utcNow('dd-MM-yyyy-hh-mm-ss')}"}]}},"Initialize_variable_Review_Comments":{"runAfter":{"Initialize_variable_Approved":["Succeeded"]},"metadata":{"operationMetadataId":"12340150-ac64-4104-805f-a935bfefb6aa"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Reviewer Items","type":"string"}]}},"Initialize_variable_Approved":{"runAfter":{"Initialize_variable_-_Do_Review":["Succeeded"]},"metadata":{"operationMetadataId":"2252ef1a-454b-4aa7-aac3-4449edff7931"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Approved","type":"boolean","value":"@true"}]}},"Initialize_variable_Responsible_Engineer_Text":{"runAfter":{"Initialize_variable_Review_Comments":["Succeeded"]},"metadata":{"operationMetadataId":"76cebb7d-e6db-425b-a002-088a37a33a31"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Responsible Engineer Text","type":"string","value":"Please review the following document "}]}},"Initialize_variable_Manager_Text":{"runAfter":{"Initialize_variable_Responsible_Engineer_Text":["Succeeded"]},"metadata":{"operationMetadataId":"4fd3e89c-9548-4065-beb6-8571daaf4327"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Manager Text","type":"string","value":"The following file has been marked for Manager Approval and has been approved by the Responsible Engineer.\nCan you please Review the following file / comments / RLMU and choose Approve  or Reject as Appropriate\n\nThe Responsible Engineer left the following comments\n"}]}},"Scope_-_Get_File_Information":{"actions":{"Get_file_properties":{"runAfter":{},"metadata":{"operationMetadataId":"96653a7e-defc-4a05-b3d3-785928a8f138"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileItem"},"parameters":{"dataset":"https://sericaenergy.sharepoint.com/sites/Supppub","table":"8f573e1d-f308-4916-9859-21c85f4ae8ed","id":"@triggerBody()?['entity']?['ID']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_file_properties_Response_Sheet":{"runAfter":{"Size_check_less_than_35MB":["Succeeded"]},"metadata":{"operationMetadataId":"57e2abeb-7480-4ef9-b932-00c8b1e56ffc"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileItem"},"parameters":{"dataset":"https://sericaenergy.sharepoint.com/sites/EIHReview","table":"5d3b91d3-cddb-4a06-962e-e7d5e87679a6","id":8},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_file_content":{"runAfter":{"Get_file_properties_Response_Sheet":["Succeeded"]},"metadata":{"operationMetadataId":"0224495a-54ca-495a-94d9-85e3595be6ad"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://sericaenergy.sharepoint.com/sites/SuppPub","id":"@outputs('Get_file_properties')?['body/{Identifier}']","inferContentType":true},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_file_content_Response_Sheet":{"runAfter":{"Get_file_content":["Succeeded"]},"metadata":{"operationMetadataId":"4615ff7c-5d69-436d-a718-0351f53fe8f0"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://sericaenergy.sharepoint.com/sites/EIHReview","id":"@outputs('Get_file_properties_Response_Sheet')?['body/{Identifier}']","inferContentType":true},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Get_file_metadata":{"runAfter":{"Get_file_properties":["Succeeded"]},"metadata":{"operationMetadataId":"573ec2da-69a4-4831-a5fb-6e09d8353d35"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"GetFileMetadata"},"parameters":{"dataset":"https://sericaenergy.sharepoint.com/sites/SuppPub","id":"@outputs('Get_file_properties')?['body/{Identifier}']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Size_check_less_than_35MB":{"actions":{},"runAfter":{"Get_file_metadata":["Succeeded"]},"else":{"actions":{"Flow_run_Link":{"runAfter":{},"metadata":{"operationMetadataId":"c9095647-f08a-48fa-87f8-9510f30f2cdf"},"type":"Compose","inputs":"@concat('https://us.flow.microsoft.com/manage/environments/', workflow()?['tags']?['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"},"Get_my_profile_(V2)_4":{"runAfter":{"Flow_run_Link":["Succeeded"]},"metadata":{"operationMetadataId":"e8204c47-3463-498d-91ca-9f3ed61dce81"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"MyProfile_V2"},"parameters":{},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Send_an_email_(V2)_File_to_Large_2":{"runAfter":{"Get_my_profile_(V2)_4":["Succeeded"]},"metadata":{"operationMetadataId":"81580290-649e-4f64-be83-ed6d8a2d7b31"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365_1","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@triggerOutputs()['headers']['x-ms-user-email']","emailMessage/Subject":"\"Your @{workflow()?['tags']?['flowDisplayName']} flow failed, File is over 35MB\",","emailMessage/Body":"<p>Check your flow. The File was over 35MB<br>\n<br>\n<a href=\"@{outputs('Flow_run_Link')}\">Flow Run Link</a>&nbsp;</p>","emailMessage/Importance":"Normal"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Terminate_3":{"runAfter":{"Send_an_email_(V2)_File_to_Large_2":["Succeeded"]},"metadata":{"operationMetadataId":"2da81672-9743-4acc-b19b-8886ec9f078a"},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"413","message":"File to large to send 35MB limit"}}}}},"expression":{"lessOrEquals":["@outputs('Get_file_metadata')?['body/Size']",35000000]},"metadata":{"operationMetadataId":"cd52346d-8372-406c-bd49-6f3fe64f87e5"},"type":"If"}},"runAfter":{"Initialize_variable_Manager_Text":["Succeeded"]},"metadata":{"operationMetadataId":"85ff6cb8-5236-43c1-b046-726137507d37"},"type":"Scope"},"Initialize_variable_-_Do_Review":{"runAfter":{"Initialize_variable_-_Comments":["Succeeded"]},"metadata":{"operationMetadataId":"42349d78-3475-4861-9c8d-170b764f87c9"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Dont Review","type":"boolean","value":"@triggerBody()['boolean_2']"}]}},"Initialize_variable_-_Comments":{"runAfter":{"Initialize_variable_-_For_Info_Email":["Succeeded"]},"metadata":{"operationMetadataId":"600e03d8-0de1-4c55-924b-1a04393b61b8"},"type":"InitializeVariable","inputs":{"variables":[{"name":"InputComments","type":"string","value":"@triggerBody()?['text']"}]}},"Initialize_variable_-_For_Info_Email":{"runAfter":{"Compose_-_Flow_Launchers_Email":["Succeeded"]},"metadata":{"operationMetadataId":"c5f479c3-09b6-4a70-8fed-0becbb41db97"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Info Only Email","type":"string","value":"@triggerBody()?['email']"}]}},"Scope_Failure_Notifications_2":{"actions":{"Compose_Flow_run_link_2":{"runAfter":{},"metadata":{"operationMetadataId":"304e2c8e-c6d8-4bd0-ac4d-57951dd57763"},"type":"Compose","inputs":"@concat('https://us.flow.microsoft.com/manage/environments/', workflow()?['tags']?['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])"},"Get_my_profile_(V2)_2":{"runAfter":{"Compose_Flow_run_link_2":["Succeeded"]},"metadata":{"operationMetadataId":"16453b92-e67e-40aa-acf4-fbd90183a4f0"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users_1","operationId":"MyProfile_V2"},"parameters":{},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Send_an_email_(V2)_Failure_notification_2":{"runAfter":{"Get_my_profile_(V2)_2":["Succeeded"]},"metadata":{"operationMetadataId":"bd4b39c2-3462-4a00-b21d-d8ac056f00d2"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@triggerOutputs()['headers']['x-ms-user-email']","emailMessage/Subject":"Your @{workflow()?['tags']?['flowDisplayName']} flow failed","emailMessage/Body":"<p>Check your flow.<br>\n<br>\n<a href=\"@{outputs('Compose_Flow_run_link_2')}\">Flow Run Link</a>&nbsp;</p>"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Scope_-_Get_File_Information":["Failed"]},"metadata":{"operationMetadataId":"072e1b99-2b98-4cdc-bb50-f9ef10d9a137"},"type":"Scope","description":"Set this Scope's Configure run after settings to \"has failed\", \"is skipped\", and \"has timed out\"."},"Compose_-_Flow_Launchers_Email":{"runAfter":{},"metadata":{"operationMetadataId":"a73f8eca-e4ea-4314-806f-a5d67bf4e0f2"},"type":"Compose","inputs":"@triggerOutputs()['headers']['x-ms-user-email-encoded']"}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"1bee3ce8538a41f98886a8e2127b28f9","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_office365":{"connectionName":"3bab73063ee44afbad422a01fca78011","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_approvals":{"connectionName":"shared-approvals-7b9af73a-3c79-4011-a4f5-f36849977ae5","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","tier":"NotSpecified"},"shared_onedriveforbusiness":{"connectionName":"28848d91c46f41b0b2ba83eaca0fd91b","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified"},"shared_office365users_1":{"connectionName":"shared-office365user-06beb36d-4c09-4161-a3be-9a8eec18dfbd","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","tier":"NotSpecified"},"shared_sharepointonline_1":{"connectionName":"shared-sharepointonl-8a97f40b-e7c9-4e69-a055-28ba360a6767","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_office365users":{"connectionName":"shared-office365user-f2c511b1-0a88-4423-ad71-f54e7c69514f","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","tier":"NotSpecified"},"shared_office365_1":{"connectionName":"shared-office365-88ca3c84-7f3f-4cd5-bd68-34b74c8d6141","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}